{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">
                <a href="/">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Reviewer</a>
                    </div>
                </a>
            </span>
            <!-- Adding a search form  -->
            <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search_projects' %}">
                <input name="title" autocomplete="off" id="searching" class="form-control d-none d-md-block"
                    placeholder="Search" />
                <i class="spinner"></i>
            </form>

            <!-- search form end -->
          
            <span class="pull-right icons1">
                <div class="btn-group">
                    {% if user.is_authenticated %}
                    <button class="btn btn-secondary btn-sm dropdown-toggle profile-btn" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user-circle"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/profile"> <i class="far fa-user-circle icon"></i>Profile</a>
                        <a class="dropdown-item" href="/accounts/password/change"> <i
                                class="far fa-user-circle icon"></i>Change Password</a>
                        <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt icon"></i></i>Logout</a>
                    </div>
                    {% else %}
                    <li>
                        <a class='btn btn-default' href="/accounts/login">Login</a>
                    </li>
                    <li>
                        <a class='btn btn-default' href="/accounts/register">Signup</a>
                    </li>

                    {% endif %}

                </div>
            </span>
        </div>
    </nav>
</body>

</html>